//
// App
// --------------------------------------------------

.app {
	display: grid;
	grid-template-rows: remy(32px) 1fr remy(32px);
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"content"
		"footer";
}

.app-header {
	grid-area: header;
	display: block;
	margin: 0;
	padding: 0;
	background-color: $gray-lighter;

	> .container {
		display: flex;
	}

	.app-name {
		font-size: 1rem;
		align-self: center;
		margin: 0 1rem 0 0;
		font-weight: 500;
	}

	.app-navigation {
		flex: 1;
		display: flex;
		justify-content: space-between;


		ul {
			display: flex;
			margin: 0;
			padding: 0;
			align-items: center;

			> li {
				display: block;
				height: 100%;
				margin: 0;
				padding: 0;

				&.user {
					height: auto;
					padding: 0 0 0 1rem;
				}

				> a {
					display: flex;
					height: 100%;
					align-items: center;
					margin: 0;
					padding: 0 1rem;
					border-top: 2px solid transparent;
					border-left: none;
					border-right: none;
					border-bottom: 2px solid transparent;
					color: $black;

					&, &:focus, &:hover {
						color: $black;
						text-decoration: none;
					}

					&:focus, &:hover {
						background-color: darken($gray-lighter, 10%);
					}

					&.active {
						color: $brand-primary;
						background-color: $state-info-bg;
					}

				}
			}

		}

	}

}

.app-content {
	grid-area: content;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;

	> .container {
		padding: 1rem 1rem 0 1rem;
	}

}

.app-footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	background-color: $gray-lighter;
	justify-content: center;
	text-align: center;
	padding: 0 1rem;
	font-size: remy(14px);

	p {
		margin: 0;
	}

}

.app.app--full-page {

	overflow: hidden;

	.app-content {
		overflow: hidden;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr remy(300px);
		grid-template-areas:
		"viz controls";
	}

}

.app-scatterplot {
	grid-area: viz;
}

.app-scatterplot-screen {
	grid-area: viz;
	background-color: $white;
}

.app-controls {
	grid-area: controls;
	padding: 1rem;
	height: 100%;
	overflow-y: auto;
}

.dataset-selector {
	display: grid;
	grid-auto-columns: max-content 1fr;
	grid-auto-rows: 1fr;
	gap: .5rem;
	align-items: center;

	.form-control-label {
		grid-column: 1;
		margin: 0;
	}

	.form-control {
		grid-column: 2;
		padding: 2px 12px;
		margin: 0;
	}

}


.controls-section {

	.controls-section-heading {
		display: flex;
		align-items: center;
		gap: .5rem;
		margin: 0 0 .5rem 0;

		.text {
			font-weight: 500;
		}

		.count {
			background-color: darken($brand-info, 10%);
			color: $white;
			border-radius: 14px;
			padding: 1px 8px;
			font-size: remy(14px);
		}

		.clear {
			margin-left: auto;
			display: flex;
			gap: .5rem;
			align-items: center;
			line-height: 1;
			border-radius: 4px;
			padding: 6px;

			.icon {
				width: 16px;
				height: 16px;
			}
		}

	}

	.selection {
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 4px;
		padding: .5rem;
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;

		.doc {
			display: flex;
			align-items: center;
			border-radius: 4px;
			background-color: $pink;
			padding: 4px 4px;

			.doc-name {
				display: block;
				color: $white;
				padding: 0 6px;
				font-size: remy(14px);
			}

			.doc-remove {
				background-color: rgba(0, 0, 0, 0.3);
				display: flex;
				gap: .5rem;
				align-items: center;
				line-height: 1;
				padding: 2px 2px;
				border-radius: 6px;

				.icon {
					width: 16px;
					height: 16px;
					color: $white
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
				}

			}

			&.doc--clickable {
				cursor: pointer;
			}
		}

	}

	.controls-section-toolbar {
		margin: 1rem 0 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		.btn {
			margin: 0;
			display: flex;
			gap: .5rem;
			align-items: center;
			border-radius: 4px;
			line-height: 1;
			padding: 6px 8px;
		}

	}

}

.controls-section + .controls-section {
	margin: 1rem 0 0 0;
	padding: 1rem 0 0 0;
	border-top: 1px solid rgba(0, 0, 0, .2);
}

.dataset-overview {
	//padding: 0 1rem;

	.dataset-name {
		margin: .5rem 0;
	}

	.stats {


		.stats-value {
			display: flex;
			margin: 0 0 1rem 0;

			.name {
				flex: 1;
				opacity: .8;
			}

			.value {
				font-weight: 500;
			}
		}
	}

}
