//
// Temporary styles (development playground, demo, ...)
// --------------------------------------------------

#test-svg {
	display: block;
	margin: 0 0 1rem 0;
	background-color: $gray-lighter;

	circle {
		fill: red;
	}

	rect {
		fill: $green;
		stroke: black;
		stroke-width: 2;
	}
}

#demo-scatterplot {
	display: block;
	margin: 0 0 1rem 0;
}
