//
// Layout
// --------------------------------------------------

.container {
	margin: 0 auto;
	padding: 0 1rem;
	// max-width: 1000px;
	height: 100%;
}

.full-page-layout {
	overflow: hidden;
}

.info-screen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
	align-items: center;
	justify-content: center;

	.message {
		margin: 1rem 0 0 0;
		font-size: remy(14px);
	}

	&.screen-error {
		background-color: $state-danger-bg;
		color: $state-danger-text;
	}

	&.screen-warning {
		background-color: $state-warning-bg;
		color: $state-warning-text;
	}

	&.screen-success {
		background-color: $state-success-bg;
		color: $state-success-text;
	}

}
