//
// Popover
// --------------------------------------------------

.popover {
	position: absolute;
	display: none;
	background: white;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	pointer-events: none;
	overflow: hidden;

	&.popover--visible {
		display: block;
	}
}
