//
// Scatterplot
// --------------------------------------------------

.scatterplot-wrapper, .wordcloud-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

svg.scatterplot,svg.wordcloud {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	.point {
		fill: yellow;
		stroke: black;
		stroke-width: 1;
		cursor: pointer;

		&:hover {
			fill: orange;
		}

		&.selected {
			fill: red;
		}
	}

	.word {
		cursor: pointer;
		&:hover {
			fill: orange;
		}

		&.common {
			fill: green;
		}

		&.selected {
			fill: red;
		}
	}

}

.toolbar {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	gap: .5rem;

	.btn {
		display: flex;
		gap: .5rem;
		align-items: center;
		border-radius: 4px;
		line-height: 1;
		padding: 6px 8px;
	}

}
