//
// SpinKit: Simple loading spinners animated with CSS
// source: https://github.com/tobiasahlin/SpinKit
// --------------------------------------------------

//:root {
//	--sk-size: 40px;
//	--sk-color: #333;
//}

// Flow
//
// <div class="sk-flow">
//   <div class="sk-flow-dot"></div>
//   <div class="sk-flow-dot"></div>
//   <div class="sk-flow-dot"></div>
// </div>

.sk-flow {
	width: remy(48px);
	height: remy(48px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sk-flow-dot {
	width: 25%;
	height: 25%;
	background-color: #333;
	border-radius: 50%;
	animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.sk-flow-dot:nth-child(1) {
	background-color: $teal;
	animation-delay: -0.30s;
}

.sk-flow-dot:nth-child(2) {
	background-color: $pink;
	animation-delay: -0.15s;
}

.sk-flow-dot:nth-child(3) {
	background-color: $purple;
}

@keyframes sk-flow {
	0%, 80%, 100% {
		transform: scale(0.3);
	}
	40% {
		transform: scale(1);
	}
}
