<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Another page | Document Corpus Viz</title>
        <meta name="theme-color" content="#00acc1" />
        <%= manifest.tag %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin-ext" />
    </head>
    <body>
        <div id="root" class="app">
            <header class="app-header">
                <div class="container">
                    <div class="app-name">Corpus Viz</div>
                    <nav class="app-navigation">
                        <ul class="left">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a class="active" href="/another.html">Page without React</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="app-content">
                <div class="container" id="main-container">
                    <h1>Another demo</h1>
                    <p>Another page with a different entrypoint without React.js, but with a D3.js demo.</p>
                    <div class="btn-group">
                        <button id="reset-zoom-btn" class="btn btn-primary btn-sm">Reset zoom and pan</button>
                    </div>
                </div>
            </main>
            <footer class="app-footer">
                <p>
                    &copy; 2023
                    <a href="https://github.com/pokusew">Martin Endler</a> and
                    <a href="https://github.com/borisrakovan">Boris Rakovan</a>
                </p>
                <p>Source code on <a href="https://github.com/pokusew/fel-corpus-viz">GitHub</a>
                </p>
            </footer>
        </div>
    </body>
</html>
