<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document Corpus Viz</title>
		<meta name="theme-color" content="#00acc1" />
		<%= manifest.tag %>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin-ext" />
	</head>
	<body>
		<div id="root" class="app"></div>
	</body>
</html>
